{{#> Dialog }}
  <form class="form">
    {{> FormTitle text=title }}
    <div class="form__input-group">
      {{#each fields}}
        {{> FormItem name=name text=text type=type validation-text=validation-text }}
      {{/each}}
    </div>

    {{> Button type=button.type text=button.text }}
  </form>

  {{> Link src=link.src text=link.text }}
{{/ Dialog }}
