<article class="message-card">
  <div class="message-card__avatar">
    {{> Avatar src=avatar.src alt=avatar.alt }}
  </div>
  <div class="message-card__content">
    <h3 class="message-card__title">{{ chat.name }}</h3>
    <p class="message-card__message">
      {{# if message.self }}<span class="message-card__message-self">You:</span>{{/if}}
      {{ message.text }}
    </p>
  </div>
  <div class="message-card__info">
    <p class="message-card__date">{{ date }}</p>
    {{# if notice }} {{> Badge number=notice.number }} {{/if}}
  </div>
</article>
