.sidebar {
  max-width: 310px;
  height: 100%;
  position: relative;

  background-color: #FBFBFB;

  &::after {
    content: '';
    width: 1px;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;

    background-color: #EAEAEA;
  }


  &__header {
    height: 100px;

    display: flex;
    box-sizing: border-box;
    justify-content: space-between;
    flex-direction: column;
    gap: 20px;

    padding: 20px 10px 15px 10px;


    &-search {
      outline: none;
      height: 30px;
      border: none;
      border-radius: 5px;
      box-sizing: border-box;
      font-size: 12px;
      line-height: 12px;
      font-weight: 500;

      background-color: #EFEFEF;

      &::-webkit-input-placeholder {
        color: #999999;
        text-align: center;
      }
    }

    &-link {
      text-align: end;
      text-decoration: none;

      font-size: 12px;
      line-height: 12px;
      color: #999999;
    }
  }

  &__content {
    overflow-y: auto;
    height: calc(100% - 100px);

    &::-webkit-scrollbar {
      display: none;
    }
  }
}
