<article class="error-card">
  <div class="error-card__main">
    {{> Title class='error-card__main-title' text=error-code }}
    {{> Subtitle text=error-message }}
  </div>

  {{> Link src=link.src text=link.text }}
</article>
