<article class="error-card">
  <div class="error-card__main">
    {{> Title class='error-card__main-title' text='404'}}
    {{> Subtitle text='This page does not exist' }}
  </div>

  {{> Link text='Back to chats' }}
</article>